{% extends 'base.html' %}
{% load static %}

{% block subtitle %}Resultado de Pesquisa{% endblock %}
{% block conteudo %}

    <div class="row" margin-left="15px">
        <div class="col-md-6">
            <div class="panel-head">
                <p><strong>{{ object_list.count }}</strong> de <strong>{{ paginator.count }}</strong> itens </p>
            </div>
        </div>
    </div>




{% for post in object_list %}

    <div class="row">
        <div class="col-lg-4 ">
            <div class="panel-body"  >
                {% if post.imagem_post %}
                    <a href="{{ post.imagem_post.url }}"><img src="{{ post.imagem_post.url }}" class="img-responsive " width="100%" alt=""></a>
                {% else %}
                    <a href="#"><img src="{% static 'images/logorb.png' %}" class="img-responsive " width="100%" alt=""></a>
                {% endif %}
             </div>
        </div>
        <div class="col-lg-8">
            <div class="panel-heading">
                <h2>{{ post.title }}</h2>
                <small>{{ post.data_post }}</small><br>
                <a href={% url 'post_detail' post.id %}><buton  type="button" class="btn btn-sm btn-info">Ver Mais</buton></a>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>




{% empty %}
    <p>Não há dados</p>
{% endfor %}

{% endblock %}


{% block paginacao %}

{% if is_paginated %}
<div class="pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}