
﻿{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>App de Obra{% block title %}{% endblock %}</title>

    <!-- vendor css -->
    <link href="{% static 'assets/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/Ionicons/css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/jquery-switchbutton/jquery.switchButton.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/rickshaw/rickshaw.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/chartist/chartist.css' %}" rel="stylesheet">


    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bracket.css' %}">
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href="#"><img src="{% static 'images/logorb.png' %}" class="img-responsive " width="100%" alt=""></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Menu</label>
      <div class="br-sideleft-menu">
        <a href="{% url 'post_list' %}" class="br-menu-link active">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-book-outline tx-22"></i>
            <span class="menu-item-label">Galeria</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->


        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-navigate-outline tx-24"></i>
            <span class="menu-item-label">Maps</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="{% url 'barroselas' %}" class="nav-link">Barroselas</a></li>
          <li class="nav-item"><a href="{% url 'vilanovaanha' %}" class="nav-link">Vila Nova de Anha</a></li>
          <li class="nav-item"><a href="{% url 'darque' %}" class="nav-link">Darque</a></li>
          <li class="nav-item"><a href="{% url 'portuzelo' %}" class="nav-link">Portuzelo</a></li>
          <li class="nav-item"><a href="{% url 'perre' %}"" class="nav-link">Perre</a></li>
          <li class="nav-item"><a href="{% url 'espregueiramendes' %}"" class="nav-link">Espregueira Mendes</a></li>
          <li class="nav-item"><a href="{% url 'ursulinas' %}"" class="nav-link">Ursulinas</a></li>
          <li class="nav-item"><a href="{% url 'cardielos' %}" class="nav-link">Cardielos</a></li>
          <li class="nav-item"><a href="{% url 'fincao' %}" class="nav-link">Finção</a></li>
          <li class="nav-item"><a href="{% url 'portela' %}" class="nav-link">Portela</a></li>
        </ul>
      </div><!-- info-lst -->
      <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
<!--        <div class="input-group hidden-xs-down wd-170 transition" action="{% url 'post_busca' %}">-->
<!--          <input id="searchbox" type="text" class="form-control" name="termo" placeholder="Pesquisar">-->
<!--          <span class="input-group-btn">-->
<!--            <button class="btn btn-secondary" onclick="{% url 'post_busca' %}" type="submit"><i class="fa fa-search"></i></button>-->
<!--          </span>-->
<!--        </div>&lt;!&ndash; input-group &ndash;&gt;-->

        <form class="input-group" action="{% url 'post_busca' %}">
          <input type="search" class="form-control" name="termo" placeholder="Digite a sua pesquisa" >
          <span class="form-group input-group-btn">
            <button class="btn btn-default" onclick="{% url 'post_busca' %}" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </form>





      </div><!-- br-header-left -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->


    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">

      <div class="pd-30">
        <h4 class="tx-gray-800 mg-b-5">App de Obra</h4>
        <p class="mg-b-0">{% block subtitle %}{% endblock %}</p>
      </div><!-- d-flex -->



      <div class="br-pagebody">
        <div class="br-section-wrapper">
            {% block conteudo %}{% endblock %}
            {% block paginacao %}{% endblock %}
        </div><!-- row -->
      </div><!-- row -->
      <footer class="br-footer">

      </footer>
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->

    <script src="{% static 'assets/lib/jquery/jquery.js' %}"  ></script>
    <script src="{% static 'assets/lib/popper.js/popper.js' %}"></script>
    <script src="{% static 'assets/lib/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
    <script src="{% static 'assets/lib/moment/moment.js' %}"></script>
    <script src="{% static 'assets/lib/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/lib/jquery-switchbutton/jquery.switchButton.js' %}"></script>
    <script src="{% static 'assets/lib/peity/jquery.peity.js' %}"></script>
    <script src="{% static 'assets/lib/chartist/chartist.js' %}"></script>
    <script src="{% static 'assets/lib/jquery.sparkline.bower/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'assets/lib/d3/d3.js"></script>
    <script src="{% static 'assets/lib/rickshaw/rickshaw.min.js' %}"></script>
    <script src="{% static 'assets/lib/highlightjs/highlight.pack.js' %}"></script>
    <script src="{% static 'assets/lib/chart.js/Chart.js' %}"></script>
    <script src="{% static 'assets/js/bracket.js' %}"></script>
    <script src="{% static 'assets/js/ResizeSensor.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/chart.chartjs.js' %}"></script>
    <script>
      $(function(){
        'use strict'

        // FOR DEMO ONLY
        // menu collapsed by default during first page load or refresh with screen
        // having a size between 992px and 1299px. This is intended on this page only
        // for better viewing of widgets demo.
        $(window).resize(function(){
          minimizeMenu();
        });

        minimizeMenu();

        function minimizeMenu() {
          if(window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
            // show only the icons and hide left menu label by default
            $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
            $('body').addClass('collapsed-menu');
            $('.show-sub + .br-menu-sub').slideUp();
          } else if(window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
            $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
            $('body').removeClass('collapsed-menu');
            $('.show-sub + .br-menu-sub').slideDown();
          }
        }
      });
    </script>
  </body>
</html>
